<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.evalBbs.dao.IEvalBbsDao">
    <select id="selectAll" resultType="com.green.evalBbs.dto.EvalBbsDto">
        select * from evalbbs
    </select>
    <insert id="insert">
        INSERT INTO evalbbs (title, content, writer) VALUES(#{bbs.title},#{bbs.content},#{bbs.writer});
    </insert>
    <select id="select">
        SELECT * from evalbbs where bno=#{param1}
    </select>
    <delete id="delete">
        delete from evalbbs where bno=#{param1}
    </delete> 
</mapper>